{% extends 'base.html' %}

{% block title %}Trader Details Page{% endblock %}

{% block main %}
<main class="container bg-light p-3 rounded mb-3">
    <h1>{{client.first_name}} {{client.last_name}}</h1>
    <hr>
    <div id="viewMode">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ trader.photo.url }}" class="img-fluid rounded-start" alt="photo of trader" style='max-height: 400px'>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">About Myself</h5>
                        <p class="card-text" id="aboutMyself">{{ trader.about_myself|default:"No info available" }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <img src="{{ trader.promo_image.url }}" class="card-img-top" alt="advertisement image" style="height: 400px">
            <div class="card-body">
                <h5 class="card-title" id="promoTitle">{{ trader.promo_title|default:"Promotion" }}</h5>
                <hr>
                <p class="card-text" id="promoContent1" >{{ trader.promo_content1|default:"" }}</p>
                <p class="card-text" id="promoContent2">{{ trader.promo_content2|default:"" }}</p>
                <p class="card-text" id="promoContent3"><small class="text-body-secondary">{{ trader.promo_content3|default:"Promotion end data" }}</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <hr>
                <p><strong>Phone Number: </strong></p><p class="card-text" id="phoneText">{{ trader.phone_number|default:client.phone }}</p>
                <p><strong>Email Address: </strong></p><p class="card-text" id="emailText">{{ trader.email|default:client.email }}</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
