{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block main %}

<h1>List</h1>
    <div class="row g-4 row-gap-4 justify-content-around mb-3">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-3" >
                <img src="{% static 'images/plumbing.jpg' %}" class="card-img-top" alt="plumbing services">
                <div class="card-body">
                    <h5 class="card-title">Plumbers</h5>
                    <p class="card-text">Say something here....</p>
                    <a href="plumbers" class="btn btn-primary">Go to plumber list</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-3">
                <img src="{% static 'images/Electrician.jpg' %}" class="card-img-top" alt="electrical services">
                <div class="card-body">
                    <h5 class="card-title">Electricians</h5>
                    <p class="card-text">Say something here....</p>
                    <a href="#" class="btn btn-primary">Go to electrician list</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-3">
                <img src="{% static 'images/handyman.jpg' %}" class="card-img-top" alt="plumbing services">
                <div class="card-body">
                    <h5 class="card-title">Handymen</h5>
                    <p class="card-text">Say something here....</p>
                    <a href="#" class="btn btn-primary">Go to Handyman list</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}