{% extends 'base.html' %}

{% block title %}Search Result{% endblock %}

{% block main %}
   <h1>Search Result</h1>
    <hr>
{% for client in clients %}
    <div class="card">
        <div class="card-header d-flex flex-column flex-md-row align-items-md-center justify-content-md-between">
            <h5 class="mb-2 mb-md-0">{{client.first_name}} {{client.last_name}}</h5>
        </div>
        <div class="card-body">
            <h5 class="card-text">Business Name: {{client.trade_name}}</h5>
            <p class="card-title">Location: {{ client.city }}</p>
            <a href="{% url 'trader:details' client.client_id %}" class="btn btn-primary">Find out more...</a>
        </div>
    </div>
{% endfor %}
{% endblock %}