<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Client-- A-Stop</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.css' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
          color: orange;
        }
    </style>
</head>
<body>
<header class="p-3 text-primary-emphasis bg-primary-subtle border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'images/logo.png' %}" alt="Django Logo" class="img-fluid" height="150" width="150"
                     style="border-radius: 20px">
            </a>
            <div class="text-end ms-auto">
                <button type="button" class="btn btn-outline-dark me-2 bg-warning">Logout</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-light p-3 rounded mb-3">
    <h1>Add New Client</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input class="form-control" name="first_name" id="first_name" placeholder="First Name">
            </div>
        </div>
        <div class="row mb-3">
            <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input class="form-control" name="last_name" id="last_name" placeholder="Last Name">
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
        </div>

        <div class="row mb-3">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input class="form-control" name="phone" id="phone" placeholder="Phone Number">
            </div>
        </div>

        <div class="row mb-3">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input  class="form-control" name="address" id="address" placeholder="Address">
            </div>
        </div>
        <div class="row mb-3">
            <label for="city" class="col-sm-2 col-form-label">City/Town</label>
            <div class="col-sm-10">
                <input class="form-control" name="city" id="city" placeholder="City/town Location">
            </div>
        </div>
        <div class="row mb-3">
            <label for="occupation" class="col-sm-2 col-form-label">Occupation</label>
            <div class="col-sm-10">
                <input type="hidden" name="occupation" id="occupation">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="occupationBtn">
                        Occupation
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Plumber</a></li>
                        <li><a class="dropdown-item" href="#">Electrician</a></li>
                        <li><a class="dropdown-item" href="#">Handyman</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label for="registration_code" class="col-sm-2 col-form-label">Registration Code</label>
            <div class="col-sm-10">
                <input class="form-control" name="registration_code" id="registration_code" placeholder="Registration Code">
            </div>
        </div>
        <div class="row mb-3">
            <label for="trade_name" class="col-sm-2 col-form-label">Trading Name</label>
            <div class="col-sm-10">
                <input class="form-control" name="trade_name" id="trade_name" placeholder="Trading Name">
            </div>
        </div>
        <div class="row mb-3">
            <label for="nzbn" class="col-sm-2 col-form-label">NZBN Number</label>
            <div class="col-sm-10">
                <input class="form-control" name="nzbn" id="nzbn" placeholder="NZBN Number">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add New Client</button>
    </form>
</main>
<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center text-body-secondary">© 2025 Company, Inc</p></footer>
</div>

<script>
document.querySelectorAll('.dropdown-item').forEach(item => {
    item.addEventListener('click', function (e) {
        e.preventDefault();
        const value = this.textContent.trim();
        document.getElementById('occupation').value = value;
        document.getElementById('occupationBtn').textContent = value;
    });
});
</script>
</body>
</html>